
{% extends 'base.html' %}

{% block content %}
{% load static %}
 <!-- sliderstartr -->
<section class="about-slider">
    <div class="container ">
        <div class="slider-content ">
            <h1 class="text-center">Welcome to Society Management</h1>
            <div class="text-center">
                <p>Start a ride with out Society Management and make your Home beautiful like nature.</p>
                <a href="{% url 'registration' %}" class="btn btn-warning">Start Now</a>
            </div>
        </div>
    </div>
</section>
<!-- sliderend -->
<!--

<section class="services">
    <div class="container mt-5">
        <h1 class="text-center">Our Services</h1>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-4">
                <div class="images">
                    <div class="move">
                        <span><a class="fa-solid fa-people-roof"></a></span>
                        <h2>Roofing Services</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="images1">
                    <div class="move">
                        <span><a class="fa-solid fa-plug-circle-bolt"></a></span>
                        <h2>Electrical Services</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="images4">
                    <div class="move">
                        <span><a class="fa-solid fa-rug"></a></span>
                        <h2>Carpentry Services</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-8 col-md-4">
                <div class="images2">
                    <div class="move">
                        <span> <a class="fa-solid fa-wrench"></a></span>
                        <h2>Plumbing Services</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="images3">
                    <div class="move">
                        <span><a class="fa-solid fa-screwdriver"></a></span>
                        <h2>Renovation Services</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="service-rate mt-5">
    <div class="container">
        <h1 class="text-center">Our Success Rate</h1>
        <p class="text-center">What we do</p>
        <div class="content">
            <div class="row">
                <div class="col-lg-3 col-md-3" </div>
                    <div class="col-lg-3 col-md-3">
                        
                    </div>
                    <div class="col-lg-3 col-md-3">

                    </div>
                    <div class="col-lg-3 col-md-3">

                    </div>
                </div>
            </div>
        </div>
</section>  
-->

{% endblock content %}