{% extends 'base.html' %}
{% block content %}

<section class="registration">
    <div class="container">
        <div class="regcon">
            <div class="registration-content">
                <div class="registrations-content">
                    {% if errors %}
                <div class="text-center mt-3 alert alert-danger" role="alert">
                    Email already registered!
                  </div>
                {% endif %}
                {% if logout_details %}
                <div class="alert alert-success" role="alert">
                    Logout Successfully!!
                  </div>
                {% endif %}
                    <h1 class="text-center mt-3">User Registration </h1>
                    <div class="registration-form">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{fm}}
                            <div class="button text-center mt-3 mb-3">
                                <button class="btn btn-info">Register</button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}